/* ==========================================================================
Color variables
========================================================================== */

$white: #fff;
$smoke-white: #fcfcfc;
$grey-white: #f2f2f2;

$primary: #4FC1EA;
/* $secondary: #F39200; */
$secondary: #a47c42;
/* $accent: #00efb7; grüner Button */
$accent: #4FC1EA;
$fade-grey: #ededed;
$light-grey: #EFF4F7;
/* $title-grey: #A9ABAC; */
$title-grey: #344258;
$blue-grey: #444F60;
/* $muted-grey: #999; */
$muted-grey: #344258;
$light-blue-grey: #98a9c3;
/* $medium-grey: #66676b; */
$medium-grey: #a47c42;
$basaltic-grey: #878787;
$purple: #7F00FF;
$mint: #11FFBD;
$bloody: #FC354C;
$pinky: #ff00cc;
$frost: #004e92;
$placeholder: #cecece;
$dark-grey: #344258;
$border-grey: #ccc;
/* $section-grey: #fbfbfb; */
$section-grey: #eff4f7;
