{{- $footer      		:= .Site.Params.footer }}
{{- $logo        		:= index $footer "logo" }}
{{- $quickLinks  		:= index $footer "quicklinks" }}
{{- $socialMedia 		:= index $footer "socialmedia" }}
{{- $bulmaLogo   		:= index $footer "bulmalogo" }}
{{- $socialMediaTitle	:= index $footer "socialmediatitle" }}
{{- $translationTitle	:= i18n (index $footer "translationTitle") }}
{{- $sponsorText   		:= i18n (index $footer "sponsorText") }}
{{- $sponsorLogo		:= index $footer "sponsorLogo" }}

<footer class="footer footer-dark" id="translations">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="footer-logo">
          <img src="{{ printf "/images/logos/%s" $logo | relURL }}">
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
			<h3>{{ $translationTitle }}</h3>
<!--
            <h3><i class="fa fa-language" aria-hidden="true"></i> Translations</h3>
-->
          </div>
          <ul class="link-list list-translations">
            {{ range $.Site.Home.AllTranslations }}
            <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
<!--
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
		      {{- range $quickLinks }}
		                <h3>{{ .title }}</h3>
		            <ul class="link-list">
		              {{- range .links }}
		              <li>
		                <a href="{{ .link }}">
		                  {{ .text }}
		                </a>
		              </li>
		              {{- end }}
		            </ul>
		      {{- end }}            
          </div>
        </div>
      </div>
-->
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
			<h3>{{ $sponsorText }}</h3>
				<a href="https://gnulinux.ch" style="color: #a39688" target="_blank">GNU/Linux.ch</a>
				 + <a href="https://fsfe.org" style="color: #a39688" target="_blank">FSFE-CH</a>
<!--			<a href="https://fsfe.org"><img src="{{ printf "/images/logos/%s" $sponsorLogo | relURL }}"></a> -->
          </div>
        </div>
      </div>       
  </div>
  <div class="title-wrapper has-text-centered">
    <p><a href="mailto:kontakt@gnulinux.ch" style="color: #a39688" target="_blank">Contact</a> | 
    <a href="https://gnulinux.ch/impressum" style="color: #a39688" target="_blank">Imprint</a> | 
    <a href="http://creativecommons.org/licenses/by-sa/3.0/" style="color: #a39688">CC-BY-SA 3.0</a></p>
  </div>
<!--
  <div class="container">
    <div class="columns">
      <div class="column">
      </div>
      {{- range $quickLinks }}
        <div class="column">
          <div class="footer-column">
            <div class="footer-header">
                <h3>{{ .title }}</h3>
            </div>
            <ul class="link-list">
              {{- range .links }}
              <li>
                <a href="{{ .link }}">
                  {{ .text }}
                </a>
              </li>
              {{- end }}
            </ul>
          </div>
        </div>
      {{- end }}
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>{{ $socialMediaTitle }}</h3>
            <nav class="level is-mobile">
              <div class="level-left">
                {{- range $socialMedia }}
                <a class="level-item" href="{{ .link }}">
                  <span class="icon"><i class="fa fa-{{ .icon }}"></i></span>
                </a>
                {{- end }}
              </div>
            </nav>

            {{- if $bulmaLogo }}
            <a href="https://bulma.io" target="_blank">
              <img src="{{ "/images/logos/made-with-bulma.png" | relURL }}" alt="Made with Bulma" width="128" height="24">
            </a>
            {{- end }}
          </div>
        </div>
      </div>
    </div>
  </div>
-->
</footer>
