{{- $hero        := .Site.Params.hero }}
{{- $title       := i18n (index $hero "title") }}
{{- $subtitle    := i18n (index $hero "subtitle") }}
{{- $subtitle2   := i18n (index $hero "subtitle2") }}
{{- $subtitle3   := i18n (index $hero "subtitle3") }}
{{- $buttonText  := i18n (index $hero "buttontext") }}
{{- $buttonLink  := index $hero "buttonlink" }}
{{- $button1     := i18n (index $hero "button1") }}
{{- $button1Link := i18n (index $hero "button1link") }}
{{- $image       := index $hero "image" }}
<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-5 is-offset-1 landing-caption">
        <h1 class="title is-1 is-bold is-spaced">
          {{ $title }}
        </h1>
        {{ with $subtitle }}
        <h2 class="subtitle is-5 is-muted">
          {{ . }}
        </h2>
        {{ end }}
        <p>
          <a class="button cta rounded primary-btn raised" href="{{ $buttonLink }}">
            {{ $buttonText }}
          </a>
          <a class="button cta rounded primary-btn raised" href="{{ $button1Link }}">
            {{ $button1 }}
          </a>
        </p>
        <br/><br/>
        {{ with $subtitle2 }}
        <p class="subtitle is-6 is-muted">
          {{ . }}
        {{ end }}
        <br/><br/>
        {{ with $subtitle3 }}
          {{ . }}
        </p>
        {{ end }}          
      </div>
      <div class="column is-5 is-offset-1">
        <figure class="image is-4by3">
          <img src="{{ printf "/images/%s" $image | relURL }}" alt="Description">
        </figure>
      </div>
    </div>
  </div>
</div>
