{{- $section6   := .Site.Params.section6 }}
{{- $title      := i18n (index $section6 "title") }}
{{- $subtitle   := i18n (index $section6 "subtitle") }}
{{- $image      := index $section6 "image" }}
{{- $text       := i18n (index $section6 "text") }}
{{- $buttonText := i18n (index $section6 "buttontext") }}
{{- $buttonLink := index $section6 "buttonlink" }}
{{- $mailto     := i18n (index $section6 "mailto") }}
{{- $mailtext   := i18n (index $section6 "mailtext") }}
<section id="section6_id" class="section section-feature-grey is-medium">
  <div class="container">
<!--
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="has-text-centered">
          <img class="pushed-image" src="{{ printf "/images/%s" $image | relURL }}">
        </div>
      </div>
    </div>
-->

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
    </div>

	<div class="media-content mt-50">
	<div class="content">
	  <p>
		<span class="icon-box-text">{{ $text | markdownify }}</span>
	  </p>
	</div>
	</div>

    <p class="has-text-centered mt-20">
      <a class="button cta is-large rounded secondary-btn raised" 
      href="mailto:{{ $mailto }}&body={{ $mailtext }}">
        {{ $buttonText }}
      </a>
    </p>
  </div>
</section>
