{{- $section5 := .Site.Params.section5 }}
{{- $title    := i18n (index $section5 "title") }}
{{- $subtitle := i18n (index $section5 "subtitle") }}
{{- $name     := i18n (index $section5 "name") }}
{{- $address  := i18n (index $section5 "address") }}
{{- $message  := i18n (index $section5 "message") }}

<section id="section5_id" class="section section-light-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form>
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" type="text" placeholder="{{ $name }}">
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="email" placeholder="{{ $address }}">
              </div>
              <div class="column is-12">
                <textarea class="textarea" rows="10" placeholder="{{ $message }}"></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
